#place-time {
    background-color: #212529;
    color: white;
}
.honolulu-img {
    padding: 0;
}
#place-time img {
    max-width: 100%;
}
#honolulu-text {
    padding-top: 40px;
    padding-bottom: 40px;
}